/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-camera@2x {
  background-image: url(icon_sprite.png);
  background-position: -133px -359px;
  width: 51px;
  height: 44px;
}
.icon-centre_wallet.png@2x {
  background-image: url(icon_sprite.png);
  background-position: -501px -135px;
  width: 40px;
  height: 40px;
}
.icon-check@2x {
  background-image: url(icon_sprite.png);
  background-position: -39px -518px;
  width: 26px;
  height: 26px;
}
.icon-choose@2x {
  background-image: url(icon_sprite.png);
  background-position: -432px -405px;
  width: 28px;
  height: 18px;
}
.icon-delete@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px -360px;
  width: 30px;
  height: 30px;
}
.icon-editing@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px -325px;
  width: 30px;
  height: 30px;
}
.icon-iconfont-rexiao1@2x {
  background-image: url(icon_sprite.png);
  background-position: -230px -479px;
  width: 32px;
  height: 32px;
}
.icon-iconfont-rexiao@2x {
  background-image: url(icon_sprite.png);
  background-position: -378px -479px;
  width: 32px;
  height: 32px;
}
.icon-pay_alipay@2x {
  background-image: url(icon_sprite.png);
  background-position: -172px -246px;
  width: 72px;
  height: 72px;
}
.icon-pay_wechat@2x {
  background-image: url(icon_sprite.png);
  background-position: -95px -246px;
  width: 72px;
  height: 72px;
}
.icon-pay_yb@2x {
  background-image: url(icon_sprite.png);
  background-position: -249px -246px;
  width: 72px;
  height: 72px;
}
.icon-prompt@2x {
  background-image: url(icon_sprite.png);
  background-position: 0px -479px;
  width: 36px;
  height: 34px;
}
.icon-trial@2x {
  background-image: url(icon_sprite.png);
  background-position: 0px -246px;
  width: 90px;
  height: 108px;
}
.icon-unpass@2x {
  background-image: url(icon_sprite.png);
  background-position: -246px -93px;
  width: 93px;
  height: 106px;
}
.icon-address@2x {
  background-image: url(icon_sprite.png);
  background-position: -189px -359px;
  width: 40px;
  height: 40px;
}
.icon-buyer-collect@2x {
  background-image: url(icon_sprite.png);
  background-position: -384px -428px;
  width: 40px;
  height: 40px;
}
.icon-completed@2x {
  background-image: url(icon_sprite.png);
  background-position: -204px -428px;
  width: 40px;
  height: 40px;
}
.icon-coupon.png@2x {
  background-image: url(icon_sprite.png);
  background-position: -369px -359px;
  width: 40px;
  height: 40px;
}
.icon-delivered@2x {
  background-image: url(icon_sprite.png);
  background-position: -324px -359px;
  width: 40px;
  height: 40px;
}
.icon-inbound@2x {
  background-image: url(icon_sprite.png);
  background-position: -279px -359px;
  width: 40px;
  height: 40px;
}
.icon-message@2x {
  background-image: url(icon_sprite.png);
  background-position: -339px -428px;
  width: 40px;
  height: 40px;
}
.icon-my-order@2x {
  background-image: url(icon_sprite.png);
  background-position: -429px -428px;
  width: 40px;
  height: 40px;
}
.icon-pending-payment@2x {
  background-image: url(icon_sprite.png);
  background-position: -501px -90px;
  width: 40px;
  height: 40px;
}
.icon-product-collect@2x {
  background-image: url(icon_sprite.png);
  background-position: -501px 0px;
  width: 40px;
  height: 40px;
}
.icon-return@2x {
  background-image: url(icon_sprite.png);
  background-position: -501px -45px;
  width: 40px;
  height: 40px;
}
.icon-service@2x {
  background-image: url(icon_sprite.png);
  background-position: -234px -359px;
  width: 40px;
  height: 40px;
}
.icon-set@2x {
  background-image: url(icon_sprite.png);
  background-position: -249px -428px;
  width: 40px;
  height: 40px;
}
.icon-activation@2x {
  background-image: url(icon_sprite.png);
  background-position: 0px 0px;
  width: 118px;
  height: 118px;
}
.icon-coupon@2x {
  background-image: url(icon_sprite.png);
  background-position: -246px 0px;
  width: 128px;
  height: 88px;
}
.icon-inused@2x {
  background-image: url(icon_sprite.png);
  background-position: -123px 0px;
  width: 118px;
  height: 118px;
}
.icon-overdue@2x {
  background-image: url(icon_sprite.png);
  background-position: 0px -123px;
  width: 118px;
  height: 118px;
}
.icon-seller@2x {
  background-image: url(icon_sprite.png);
  background-position: -80px -479px;
  width: 34px;
  height: 34px;
}
.icon-service@2x {
  background-image: url(icon_sprite.png);
  background-position: -41px -479px;
  width: 34px;
  height: 34px;
}
.icon-shop@2x {
  background-image: url(icon_sprite.png);
  background-position: -267px -479px;
  width: 32px;
  height: 32px;
}
.icon-cetails_service@2x {
  background-image: url(icon_sprite.png);
  background-position: -294px -428px;
  width: 40px;
  height: 40px;
}
.icon-collection@2x {
  background-image: url(icon_sprite.png);
  background-position: -78px -359px;
  width: 50px;
  height: 50px;
}
.icon-detail_shop@2x {
  background-image: url(icon_sprite.png);
  background-position: 0px -518px;
  width: 34px;
  height: 30px;
}
.icon-iconfont-huijijiayuanshoucanganzhuicon01@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px -290px;
  width: 30px;
  height: 30px;
}
.icon-iconfont-kefu@2x {
  background-image: url(icon_sprite.png);
  background-position: -344px -93px;
  width: 30px;
  height: 30px;
}
.icon-iconfont-shoucang@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px -395px;
  width: 30px;
  height: 30px;
}
.icon-cancel@2x {
  background-image: url(icon_sprite.png);
  background-position: -432px -131px;
  width: 54px;
  height: 50px;
}
.icon-collect@2x {
  background-image: url(icon_sprite.png);
  background-position: -101px -518px;
  width: 26px;
  height: 26px;
}
.icon-iconfont-aixin1@2x {
  background-image: url(icon_sprite.png);
  background-position: -176px -323px;
  width: 26px;
  height: 24px;
}
.icon-iconfont-aixin@2x {
  background-image: url(icon_sprite.png);
  background-position: -327px -204px;
  width: 26px;
  height: 24px;
}
.icon-iconfont-dianpu-13@2x {
  background-image: url(icon_sprite.png);
  background-position: -119px -479px;
  width: 32px;
  height: 32px;
}
.icon-iconfont-dianpu-3@2x {
  background-image: url(icon_sprite.png);
  background-position: -304px -479px;
  width: 32px;
  height: 32px;
}
.icon-iconfont-fenlei-6- @2x {
  background-image: url(icon_sprite.png);
  background-position: -344px -128px;
  width: 30px;
  height: 24px;
}
.icon-iconfont-quanbu-21@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px -74px;
  width: 32px;
  height: 32px;
}
.icon-iconfont-quanbu-2@2x {
  background-image: url(icon_sprite.png);
  background-position: -341px -479px;
  width: 32px;
  height: 32px;
}
.icon-iconfont-tejia1@2x {
  background-image: url(icon_sprite.png);
  background-position: -415px -479px;
  width: 32px;
  height: 32px;
}
.icon-iconfont-tejia@2x {
  background-image: url(icon_sprite.png);
  background-position: -452px -479px;
  width: 32px;
  height: 32px;
}
.icon-iconfont-xinpin1@2x {
  background-image: url(icon_sprite.png);
  background-position: -489px -479px;
  width: 32px;
  height: 32px;
}
.icon-iconfont-xinpin@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px 0px;
  width: 32px;
  height: 32px;
}
.icon-im-kefu-offline@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px -465px;
  width: 30px;
  height: 30px;
}
.icon-im-kefu@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px -255px;
  width: 30px;
  height: 30px;
}
.icon-shop@2x {
  background-image: url(icon_sprite.png);
  background-position: -344px -157px;
  width: 26px;
  height: 26px;
}
.icon-store@2x {
  background-image: url(icon_sprite.png);
  background-position: -432px -186px;
  width: 53px;
  height: 49px;
}
.icon-carts@2x {
  background-image: url(icon_sprite.png);
  background-position: -379px -236px;
  width: 46px;
  height: 46px;
}
.icon-carts_active@2x {
  background-image: url(icon_sprite.png);
  background-position: -379px -287px;
  width: 46px;
  height: 46px;
}
.icon-home@2x {
  background-image: url(icon_sprite.png);
  background-position: -51px -428px;
  width: 46px;
  height: 46px;
}
.icon-home_active@2x {
  background-image: url(icon_sprite.png);
  background-position: -153px -428px;
  width: 46px;
  height: 46px;
}
.icon-order@2x {
  background-image: url(icon_sprite.png);
  background-position: -102px -428px;
  width: 46px;
  height: 46px;
}
.icon-order_active@2x {
  background-image: url(icon_sprite.png);
  background-position: -379px -185px;
  width: 46px;
  height: 46px;
}
.icon-user@2x {
  background-image: url(icon_sprite.png);
  background-position: 0px -428px;
  width: 46px;
  height: 46px;
}
.icon-user_active@2x {
  background-image: url(icon_sprite.png);
  background-position: -326px -246px;
  width: 46px;
  height: 46px;
}
.icon-confirm_coupon@2x {
  background-image: url(icon_sprite.png);
  background-position: -501px -262px;
  width: 36px;
  height: 36px;
}
.icon-confirm_default@2x {
  background-image: url(icon_sprite.png);
  background-position: -123px -123px;
  width: 110px;
  height: 110px;
}
.icon-confirm_new address@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px -430px;
  width: 30px;
  height: 30px;
}
.icon-confirm_no@2x {
  background-image: url(icon_sprite.png);
  background-position: -501px -344px;
  width: 36px;
  height: 36px;
}
.icon-confirm_pay.@2x {
  background-image: url(icon_sprite.png);
  background-position: -501px -180px;
  width: 36px;
  height: 36px;
}
.icon-confirm_people5@2x {
  background-image: url(icon_sprite.png);
  background-position: -501px -385px;
  width: 36px;
  height: 36px;
}
.icon-confirm_pitchon.@2x {
  background-image: url(icon_sprite.png);
  background-position: -501px -426px;
  width: 36px;
  height: 36px;
}
.icon-confirm_remarks@2x {
  background-image: url(icon_sprite.png);
  background-position: -501px -303px;
  width: 36px;
  height: 36px;
}
.icon-shopping_pitchon@2x {
  background-image: url(icon_sprite.png);
  background-position: -501px -221px;
  width: 36px;
  height: 36px;
}
.icon-uploadphoto_no@2x {
  background-image: url(icon_sprite.png);
  background-position: -432px -350px;
  width: 50px;
  height: 50px;
}
.icon-uploadphoto_sdd@2x {
  background-image: url(icon_sprite.png);
  background-position: -432px -240px;
  width: 50px;
  height: 50px;
}
.icon-gd@2x {
  background-image: url(icon_sprite.png);
  background-position: -70px -518px;
  width: 26px;
  height: 26px;
}
.icon-gwc2@2x {
  background-image: url(icon_sprite.png);
  background-position: -432px -295px;
  width: 50px;
  height: 50px;
}
.icon-gwc@2x {
  background-image: url(icon_sprite.png);
  background-position: -432px -70px;
  width: 56px;
  height: 56px;
}
.icon-home-brand@2x {
  background-image: url(icon_sprite.png);
  background-position: -193px -479px;
  width: 32px;
  height: 32px;
}
.icon-home-dis@2x {
  background-image: url(icon_sprite.png);
  background-position: -156px -479px;
  width: 32px;
  height: 32px;
}
.icon-home-hot@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px -148px;
  width: 32px;
  height: 32px;
}
.icon-home-recommend@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px -111px;
  width: 32px;
  height: 32px;
}
.icon-home-shop@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px -37px;
  width: 32px;
  height: 32px;
}
.icon-iconfont-jiantou@2x {
  background-image: url(icon_sprite.png);
  background-position: -465px -405px;
  width: 16px;
  height: 16px;
}
.icon-s-goods@2x {
  background-image: url(icon_sprite.png);
  background-position: -432px 0px;
  width: 64px;
  height: 65px;
}
.icon-s-store@2x {
  background-image: url(icon_sprite.png);
  background-position: 0px -359px;
  width: 73px;
  height: 64px;
}
.icon-sys@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px -220px;
  width: 31px;
  height: 30px;
}
.icon-xiaoxi@2x {
  background-image: url(icon_sprite.png);
  background-position: -546px -185px;
  width: 32px;
  height: 30px;
}
.icon-xl@2x {
  background-image: url(icon_sprite.png);
  background-position: -95px -323px;
  width: 76px;
  height: 25px;
}
.icon-xx@2x {
  background-image: url(icon_sprite.png);
  background-position: -246px -204px;
  width: 76px;
  height: 25px;
}
.icon-zz@2x {
  background-image: url(icon_sprite.png);
  background-position: -379px 0px;
  width: 48px;
  height: 180px;
}
