@import './variable';
@import './css3Module';
@mixin iconSize($size: 40px) {
  $retinaSize: ($size/2);
  width: $retinaSize;
  height: $retinaSize;
}
$w: (578px/2);
$h: (548px/2);
em[class^='icon-'] {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(/src/images/icon_sprite.png);
  -webkit-background-size: $w $h;
  background-size: $w $h;
}
.icon-40 {
  @include iconSize;
}
.icon-36 {
  @include iconSize(36px);
}
.icon-32 {
  @include iconSize(32px);
}
.icon-30 {
  @include iconSize(30px);
}
.icon-check {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: #e5e5e5;
  vertical-align: -2px;
  margin-right: 5px;
  border: 1px solid #c5c5c5;
  background-position: $w $h;
  &.active {
    // .icon-check@2x
    background-position: (-40px/2) (-518px/2);
    border-color: $mainColor;
    background-color: $mainColor;
  }
}
.icon-pass {
  // icon-choose@2x
  background-position: (-432px/2) (-405px/2);
  width: (28px/2);
  height: (18px/2);
}
.icon-big-check {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: center;
  padding: 10px;
  font-size: 0;
  box-sizing: border-box;
  em {
    margin-right: 0;
  }
}
.icon-cart-check {
  $size: (36px/2);
  width: $size;
  height: $size;
  border-radius: 50px;
  background-color: #fff;
  margin-right: 5px;
  border: 1px solid #c5c5c5;
  background-position: -1000px -1000px;
  pointer-events: none;
  @at-root .active & {
    // shopping_pitchon@2x
    background-position: (-501px/2) (-221px/2);
    border-color: #ff4949;
    background-color: #ff4949;
  }
  @at-root .used & {
    // confirm_pitchon.@2x
    background-position: (-501px/2) (-426px/2);
    border-color: transparent;
  }
}
.icon-camera {
  // icon-camera@2x
  background-position: (-502px/2) (-136px/2);
  width: (51px/2);
  height: (44px/2);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: (-51px/4);
  margin-top: (-44px/4) - 15px;
}
.icon-trial {
  // icon-trial@2x
  background-position: 0 (-246px/2);
  width: (92px/2);
  height: (108px/2);
}
.icon-unpass {
  // icon-unpass@2x
  background-position: (-246px/2) (-94px/2);
  width: (94px/2);
  height: (106px/2);
}
.icon-home {
  // icon-home@2x
  background-position: (-51px/2) (-428px/2);
  @at-root .active & {
    // icon-home_active@2x
    background-position: (-153px/2) (-428px/2);
  }
}
.icon-order {
  // .icon-order@2x
  background-position: (-102px/2) (-428px/2);
  @at-root .active & {
    // icon-order_active@2x
    background-position: (-379px/2) (-185px/2);
  }
}
.icon-carts {
  // .icon-carts@2x
  background-position: (-380px/2) (-236px/2);
  @at-root .active & {
    // .icon-carts_active@2x
    background-position: (-380px/2) (-288px/2);
  }
}
.icon-user {
  // .icon-user@2x
  background-position: 0 (-428px/2);
  @at-root .active & {
    // .icon-user_active@2x
    background-position: (-326px/2) (-246px/2);
  }
}
.icon-shop {
  // .icon-shop@2x
  $size: (32px/2);
  background-position: (-268px/2) (-480px/2);
  width: $size;
  height: $size;
}
.icon-set {
  // .icon-set@2x
  // $size: 40px;
  background-position: (-249px/2) (-428px/2);
}
.icon-message {
  // .icon-message@2x
  // $size: 40px;
  background-position: (-339px/2) (-428px/2);
}
.icon-product-collect {
  // .icon-product-collect@2x
  // $size: 40px;
  background-position: (-501px/2) 0;
}
.icon-buyer-collect {
  // .icon-buyer-collect@2x
  // $size: 40px;
  background-position: (-384px/2) (-428px/2);
}
.icon-my-order {
  // .icon-my-order@2x
  // $size: 40px;
  background-position: (-429px/2) (-428px/2);
}
.icon-pending-payment {
  // .icon-pending-payment@2x
  // $size: 40px;
  background-position: (-501px/2) (-90px/2);
}
.icon-delivered {
  // .icon-delivered@2x
  // $size: 40px;
  background-position: (-324px/2) (-359px/2);
}
.icon-inbound {
  // .icon-inbound@2x
  // $size: 40px;
  background-position: (-279px/2) (-359px/2);
}
.icon-completed {
  // .icon-completed@2x
  // $size: 40px;
  background-position: (-204px/2) (-428px/2);
}
.icon-return {
  // .icon-return@2x
  // $size: 40px;
  background-position: (-501px/2) (-45px/2);
}
.icon-user-coupon {
  // .icon-coupon.png@2x
  // $size: 40px;
  background-position: (-369px/2) (-359px/2);
}
.icon-address {
  // .icon-address@2x
  // $size: 40px;
  background-position: (-189px/2) (-359px/2);
}
.icon-service {
  // .icon-service@2x
  // $size: 40px;
  background-position: (-234px/2) (-359px/2);
}
.icon-home-brand {
  // .icon-home-brand@2x
  // $size: 32px;
  background-position: (-193px/2) (-479px/2);
}
.icon-home-dis {
  // .icon-home-dis@2x
  // $size: 32px;
  background-position: (-156px/2) (-479px/2);
}
.icon-home-hot {
  // .icon-home-hot@2x
  // $size: 32px;
  background-position: (-546px/2) (-148px/2);
}
.icon-home-recommend {
  // .icon-home-recommend@2x
  // $size: 32px;
  background-position: (-546px/2) (-111px/2);
}
.icon-home-shop {
  // .icon-home-shop@2x
  // $size: 32px;
  background-position: (-546px/2) (-37px/2);
}
.icon-home-shop-more {
  // icon-xx@2x
  background-position: (-246px/2) (-204px/2);
  width: (76px/2);
  height: (25px/2);
  &.open {
    // .icon-xl@2x
    background-position: (-95px/2) (-323px/2);
  }
}
.icon-arrow-left {
  // .icon-iconfont-jiantou@2x
  $size: (16px/2);
  background-position: (-465px/2) (-405px/2);
  width: $size;
  height: $size;
}
.icon-recommend-title {
  // .icon-zz@2x
  background-position: (-379px/2) (-0px/2);
  width: (48px/2);
  height: (180px/2);
}
.icon-add-carts {
  // n-uploadphoto_no@2x
  $size: (50px/2);
  background-position: (-432px/2) (-350px/2);
  width: $size;
  height: $size;
}
.icon-service-online {
  // iconfont-kefu@2x
  // $size: 30px;
  background-position: (-344px/2) (-93px/2);
}
.icon-collection {
  // $size: 30px
  // .icon-iconfont-shoucang@2x
  background-position: (-546px/2) (-395px/2);
  @at-root .active & {
    // .icon-iconfont-huijijiayuanshoucanganzhuicon01@2x
    background-position: (-546px/2) (-290px/2);
  }
}
.icon-view-shop {
  // .icon-detail_shop@2x
  background-position: 0 (-518px/2);
  width: (34px/2);
  height: (30px/2);
}
// 店铺相关
.icon-shop-collection {
  // .icon-iconfont-aixin@2x
  background-position: (-327px/2) (-204px/2);
  width: (26px/2);
  height: (24px/2);
  @at-root .active & {
    // .icon-iconfont-aixin1@2x
    background-position: (-176px/2) (-323px/2);
  }
}
.icon-shop-home {
  // .icon-iconfont-dianpu-13@2x
  // $size: 32px;
  background-position: (-119px/2) (-479px/2);
  @at-root .active & {
    // .icon-iconfont-dianpu-3@2x
    background-position: (-304px/2) (-479px/2);
  }
}
.icon-shop-all {
  // .icon-iconfont-quanbu-2@2x
  // $size: 32px;
  background-position: (-341px/2) (-479px/2);
  @at-root .active & {
    // .icon-iconfont-quanbu-21@2x
    background-position: (-546px/2) (-74px/2);
  }
}
.icon-shop-new {
  // .icon-iconfont-xinpin@2x
  // $size: 32px;
  background-position: (-546px/2) 0;
  @at-root .active & {
    // .icon-iconfont-xinpin1@2x
    background-position: (-489px/2) (-479px/2);
  }
}
.icon-shop-special {
  // .icon-iconfont-tejia@2x
  // $size: 32px;
  background-position: (-452px/2) (-479px/2);
  @at-root .active & {
    // .icon-iconfont-tejia1@2x
    background-position: (-415px/2) (-479px/2);
  }
}
.icon-shop-cancel-collect {
  // .icon-shop@2x
  $size: (26px/2);
  background-position: (-344px/2) (-157px/2);
  width: $size;
  height: $size;
}
.icon-shop-cancel-collect2 {
  // .icon-cancel@2x
  background-position: (-432px/2) (-131px/2);
  width: (54px/2);
  height: (50px/2);
}
.icon-goto-shop {
  // .icon-store@2x
  background-position: (-432px/2) (-186px/2);
  width: (53px/2);
  height: (49px/2);
}
.icon-im {
  // im-kefu@2x
  // $size: 30px
  background-position: (-546px/2) (-255px/2);
  @at-root .offline & {
    // .icon-im-kefu-offline@2x
    background-position: (-546px/2) (-465px/2);
  }
}
.icon-consignee {
  // confirm_people5@2x
  // $size: 36px;
  background-position: (-501px/2) (-385px/2);
}
.icon-confirm {
  // confirm_no@2x
  // $size: 36px;
  background-position: (-500px/2) (-344px/2);
  @at-root .active & {
    // confirm_pitchon.@2x
    background-position: (-500px/2) (-426px/2);
  }
}
.icon-coupon {
  // confirm_coupon@2x
  // $size: 36px
  background-position: (-501px/2) (-262px/2);
}
.icon-remark {
  // $size: 36px
  // confirm_remarks@2x
  background-position: (-501px/2) (-303px/2);
}
.icon-pay {
  // $size: 36px;
  // confirm_pay.@2x
  background-position: (-501px/2) (-180px/2);
}
.icon-activation {
  // $size: 118px;
  // activation@2x
  background-position: (-0px/2) (-0px/2);
}
.icon-inused {
  // $size: 118px;
  // inused@2x
  background-position: (-123px/2) (-0px/2);
}
.icon-overdue {
  // $size: 118px;
  // overdue@2x
  background-position: (-0px/2) (-123px/2);
}
.icon-order-seller {
  // seller@2x
  // $size: 34px
  background-position: (-80px/2) (-479px/2);
}
.icon-order-service {
  // service@2x
  // $size: 34px
  background-position: (-41px/2) (-479px/2);
}
.icon-pay-alipay {
  // pay_alipay@2x
  // $size: 72px
  background-position: (-172px/2) (-246px/2);
}
.icon-pay-wechat {
  // pay_wechat@2x
  // $size: 72px
  background-position: (-95px/2) (-246px/2);
}
.icon-pay-yb {
  // pay_yb@2x
  // $size: 72px
  background-position: (-249px/2) (-246px/2);
}

.icon-editing {
  //icon-editing@2x
  background-position: (-546px/2) (-325px/2);
  width: (30px/2);
  height: (30px/2);
}
.icon-delete {
  //icon-delete@2x
  background-position: (-546px/2) (-360px/2);
  width: (30px/2);
  height: (30px/2);
}
.icon-confirm-new{
  //icon-confirm_new address@2x
  background-position: (-546px/2) (-430px/2);
  width: (30px/2);
  height: (30px/2);
}
.icon-s-goods {
  // icon-s-goods@2x
  background-position: (-432px/2) (-0px/2);
  width: (64px/2);
  height: (65px/2);
}
.icon-s-store {
  // icon-s-store@2x
  background-position: (-0px/2) (-359px/2);
  width: (73px/2);
  height: (64px/2);
}
.icon-wallet {
  // .icon-centre_wallet.png@2x
  // $size: 40px;
  background-position: (-501px/2) (-135px/2);
}
.icon-hot {
  // .icon-iconfont-rexiao@2x
  // $size: 32px;
    background-position: (-378px/2) (-479px/2);
  @at-root .active & {
    // .icon-iconfont-rexiao1@2x
    background-position: (-230px/2) (-479px/2);
  }
}
.icon-cashback {
  // .icon-prompt@2x
  background-position: 0px (-480px/2);
  width: (36px/2);
  height: (34px/2);
}
em.icon-more {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: none;
  &:before {
    @include arrow;
  }
}
em.icon-back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: none;
  &:before {
    @include arrow($direction: 'left');
  }
}
.i {
  width: 13px;
  height: 13px;
  border: 1px solid $mainColor;
  color: $mainColor;
  float: left;
  border-radius: 30px;
  text-align: center;
  line-height: 13px;
  margin-right: 5px;
}
.tag {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3px 8px;
  font-size: 12px;
  color: #fff;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  &.hot {
    background-color: #fc5671;
  }
  &.special {
    background-color: #5dd166;
  }
  &.new {
    background-color: #f468e5;
    top: 5px;
    left: 5px;
    border-radius: 3px;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}
